

.neko {
    width: 50px;
    height: 50px;
    background-image: url("https://wordspace.s3.bitiful.net/飘/fish.png");
    position: absolute;
    right: 32px;
    top: 50%; 
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    font-family: maobi;
    font-weight: 400;
    font-size: 16px;
    color: #94daebc2;
    display: none;
    transform-origin: right top; /* 设置变换的原点在右上角 */
    transform: translate(45%,35%); /* 垂直居中对齐 */
    
}

.neko::after {
    display: none;
    width: 80px;
    height: 80px;
    background-image: url("https://wordspace.s3.bitiful.net/飘/对话框.png");
    background-size: contain;
    z-index: 9999;
    position: absolute;
    right: 60%;
    text-align: center;
    line-height: 70px;
    top: -115%;

}

.neko.showMsg::after {
    content: attr(data-msg);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.neko:hover::after {
    content: attr(data-msg);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.neko.fontColor::after {
    color: #333;
}

/**
 * @description: 滚动条样式  跟猫二选一
 */
@media screen and (max-width:992px) {
    ::-webkit-scrollbar {
        width: 8px !important;
        height: 8px !important
    }

    ::-webkit-scrollbar-track {
        border-radius: 2em;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgb(255, 255, 255);
        background-image: -webkit-linear-gradient(45deg, rgba(227, 175, 235, 0.58) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
        border-radius: 2em
    }

    ::-webkit-scrollbar-corner {
        background-color: transparent
    }
}